body{
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    line-height: 10rem;
    width: 36.06rem;
    height: 19.13rem;
}